@* @page
@model SignupModel
@{
    ViewData["Title"] = "Sign Up";
}

<div class="relative flex flex-col h-screen w-full overflow-hidden">
    <main class="relative min-h-screen w-full justify-center items-center">
        <div class="relative z-10 top-[32%] md:top-[200px] left-[7%] md:left-[10%]">
            <h1 class="text-3xl md:text-5xl text-text-color font-bold mb-10">
                Start your journey!
            </h1>
            <form method="post" class="flex flex-col">
                <div class="md:flex">
                    <div class="flex flex-col gap-6">
                        <input asp-for="Email" class="form-control" placeholder="Email" type="email" required />
                        <span asp-validation-for="Email" class="text-danger"></span>

                        <input asp-for="UserName" class="form-control" placeholder="Username" type="text" required />
                        <span asp-validation-for="UserName" class="text-danger"></span>

                        <input asp-for="Password" class="form-control" placeholder="Password" type="password" required minlength="6" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <button type="submit" class="md:ml-[50px] ml-[65%] flex-shrink-0 mt-[20px]">
                        <span class="w-12 h-12 md:w-20 md:h-20 text-background-color bg-text-color rounded-full p-2">→</span>
                    </button>
                </div>
                <div class="mt-[-40px] md:mt-8 flex flex-col md:flex-row md:justify-between md:w-[490px] gap-4">
                    <p class="text-white font-semibold">
                        Have an account?
                        <a href="/login" class="text-text-color sm:ml-1 relative group transition-all duration-300 hover:text-text-color/90">
                            Sign in
                        </a>
                    </p>
                </div>
            </form>
        </div>
    </main>
</div> *@
